Package: mywords
Version: 4.3.4
Section: Education
Priority: optional
Architecture: amd64
Description: An open source English dictionary platform tool, a tool for memorizing words.
Homepage: https://github.com/vito-go/mywords
Maintainer: liushihao888@gmail.com
Provides: LIUSHIHAO
